@import "./variables.scss";
@import "./mixin.scss";



*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

a {
    text-decoration : none;
    color : inherit;
}
  
li {
    list-style-type : none ;
}

header{
    display: flex;
    justify-content: space-between;
    background: palevioletred;

    .title-text{
        @include font;
    }
}


