// BG

$primari-bg-color: pink;
$secondari-bg-color: aliceblue;
$third-bg-color:blue;

// TEXT-COLOR

$primari-text-color:#232323;
$secondari-text-color: aliceblue;
$third-text-color:blue;



// BORDER-RADIUS:

$border-radius: 50%;

// FONT-SIZE

$primari-font-size-l: 50px;
$secondari-font-size-m: 25px;
$third-font-size-s: 15px;

// FONT-FAMILY

$primari-font-family: 'Roboto', sans-serif;
$secondari-font-family: 'Lato', sans-serif;
